NET led LOC="P112" | IOSTANDARD=LVTTL;
NET "sig<0>" LOC="p114" | IOSTANDARD=LVTTL;
NET "sig<1>" LOC="P115" | IOSTANDARD=LVTTL;
NET "sig<2>" LOC="P116" | IOSTANDARD=LVTTL;
NET "sig<3>" LOC="P117" | IOSTANDARD=LVTTL;
NET "sig<4>" LOC="P118" | IOSTANDARD=LVTTL;
NET "sig<5>" LOC="P119" | IOSTANDARD=LVTTL;
NET "sig<6>" LOC="P120" | IOSTANDARD=LVTTL;
NET "sig<7>" LOC="P121" | IOSTANDARD=LVTTL;

NET "sig<8>" LOC="P123" | IOSTANDARD=LVTTL;
NET "sig<9>" LOC="P124" | IOSTANDARD=LVTTL;

NET "sig<10>" LOC="P126" | IOSTANDARD=LVTTL;
NET "sig<11>" LOC="P127" | IOSTANDARD=LVTTL;

NET "sig<12>" LOC="P131" | IOSTANDARD=LVTTL;
NET "sig<13>" LOC="P132" | IOSTANDARD=LVTTL; 

NET "sig<14>" LOC="P133" | IOSTANDARD=LVTTL;
NET "sig<15>" LOC="P134" | IOSTANDARD=LVTTL; 
NET "clk" LOC = "p94";
